@charset "UTF-8";

img{
    display: block;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, '微軟正黑體', 'Microsoft JhengHei', '黑體-繁', 'Heiti TC';
    /* overflow-x: hidden; */
    
}
header, section{
    height: 100vh;
    position: relative;
    background-color: #222;
}
/* header */
header .img{
    display: block;
}
header h1{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 520px;
    color: white;
    font-size: 3.5rem;
}
header nav{
    position: absolute;
    left: 60px;
    bottom: 150px;
    width: 65%;
}
header h2{
    position: fixed;
    left: 1px;
    bottom: 360px;
    z-index: 999;
}
nav li{
    display: block;
    width: 100px;
    color: white;
    margin: 5px;
}
nav a{
    text-decoration: none;
    font-size: 1.5rem;
}
.mu_font {
  color: white !important;
  font-size: 20px !important;
}
.point{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
}
header>li{
    color: white;
}
header section{
    position: absolute;
    color: white;
    top: 40%;
    left: 45%;
    height: 100px;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.word{
  width: 400px;
}
.word p{
  width: 500px;
}
.banner{
    position: absolute;
    display: block;
    width: 15%;
    height: 10%;
    right: 0;
    top: 100px;
    margin: 0 auto;
}
/* about */
section h2{
    width: 50%;
    margin: 0 40px;
    color: white;
    padding-top: 3%;
    font-size: 3rem;
}
.box{
  position: relative;
}
section nav{
    position: absolute;
    right: 20px;
    top: 0;
    width: 100px;
    height: 100%;
}
header a{
    color: white;
}
.menus li{
    display: block;
    float: left;
    width: 100px;
    height: 30px;
}
article{
    position: absolute;
    left: 20%;
    top: 5%;
    width: 60%;
    color: white;
    padding: 120px;
    font-family: sans-serif;
    font-size: larger;
    line-height: 2rem;
}
section .menu{
    background-color: yellow;
    position: absolute;
    float: left;
    width: 120px;
    height: 100vh;
    padding: 10px;
    line-height: 40px;
    font-size: .9rem;
}

.point_1{
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 2px;
}
section a{
    text-decoration: none;
}
.menu a{
    color:black;
    font-size: 15px;
}
/* work */
#work{
  position: relative;
  width: 100%;
  height: 100vh;
}
.sign p{
  position: absolute;
  right: -25px;
  background-color:#222;
  bottom: -385px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.point_2{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  bottom: -383px;
}
/* contact */
#contact{
    position: relative;
    height: 100vh;
}
.icon{
    display: block;
    transform: translateX(500%) translateY(400%);
    width: 50px;
    height: 50px;
    margin: 20px;
}
.contactms{
    position: absolute;
    width: 100x;
    height: 100px;
    left: 310px;
    top: 100px;
}
.contactme{
    position: absolute;
    display: block;
    float: left;
    width: 410px;
    left: 310px;
    top: 206px;
}
.contactme ul{
  list-style-type: none;
}
.contactme li{
    margin: 20px;
    padding: 8px;
}
.contactme li a{
    color: white;
}
/* footer */
footer{
    position: relative;
    background-color: #222;
    width: 100%;
    height: 100px;
}
small{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 20px;
    left: 20px;
    background-color:#222;
    color: white;
}
footer p{
    position: absolute;
    right: 80px;
    background-color:#222;
    bottom: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.point_3{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 153px;
  top: 28px;
}
#gotop{
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #5f717e;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 5px;
  z-index: 99999;
}

/* 套用 */
.pencil {
    position: relative;
    top: 0;
    left: 850px;
    width: 10%;
    height: 3%;
    /*width: 300px;*/
    /*height: 40px;*/
    transform-origin: center;
    transform: rotate(135deg);
    animation: pencil-animation 10s infinite;
    z-index: 9999;
  }
  @keyframes pencil-animation {
    0% {
      transform: rotate(135deg);
    }
    20% {
      transform: rotate(315deg);
    }
    45% {
      transform: translateX(300px) rotate(315deg);
    }
    55% {
      transform: translateX(300px) rotate(495deg);
    }
    100% {
      transform: rotate(495deg);
    }
  }
  .pencil__ball-point {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background:yellow;
    height: 5px;
    width: 5px;
    border-radius: 50px;
  }
  .pencil__cap {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
    background: rgb(109, 72, 13);
    width: 12%;
    height: 100%;
  }
  .pencil__cap-base {
    position: absolute;
    left: 12%;
    top: 0;
    height: 100%;
    width: 20px;
    background: #4d444d;
  }
  .pencil__middle {
    position: absolute;
    left: calc(12% + 20px);
    top: 0;
    height: 100%;
    width: 70%;
    background: #ac630f;
  }
  .pencil__eraser {
    position: absolute;
    left: calc(12% + 70% + 20px);
    top: 0;
    height: 100%;
    width: 11%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
  }
  
  .line {
    position: relative;
    top: 35px;
    left: 370px;
    /*top: 130px;*/
    /*left: 550px;*/
    height: 3px;
    width: 1000px;
    z-index: 99;
    border-radius: 50px;
    background: yellow;
    transform: scaleX(0);
    transform-origin: center;
    animation: line-animation 10s infinite;
  }
  @keyframes line-animation {
    20% {
      transform: scaleX(0);
    }
    45% {
      transform: scaleX(0.6);
    }
    55% {
      transform: scaleX(0.6);
    }
    100% {
      transform: scaleX(0);
    }
  }
  