@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

body,
section {
  height: 100%;
  position: relative;
  background: #222;
  overflow-x: hidden;
}

.carousel {
  top: 150px;
}

@media screen and (max-width: 1024px) {
  .carousel {
    top: 400px;
  }
}

@media screen and (max-width: 960px) {
  .carousel {
    top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .carousel {
    top: 220px;
  }
}

.card_pt {
  margin: 20px 180px;
  width: 400px;
  float: left;
}

@media screen and (max-width: 1024px) {
  .card_pt {
    margin: 50px;
  }
}

@media screen and (max-width: 960px) {
  .card_pt {
    margin: 30px;
  }
}

.card_pt img {
  width: 400px;
}

@media screen and (max-width: 960px) {
  .card_pt img {
    width: 300px;
  }
}

.card_pt h5 {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 960px) {
  .card_pt h5 {
    padding-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .card_pt h5 {
    font-size: 32px;
  }
}

.list_box {
  margin: 20px 50px;
  width: 400px;
  float: left;
}

@media screen and (max-width: 1024px) {
  .list_box {
    margin: 56px;
  }
}

@media screen and (max-width: 960px) {
  .list_box {
    margin: 135px;
  }
}

@media screen and (max-width: 767px) {
  .list_box {
    margin: 36px;
  }
}

.list_box img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 960px) {
  .list_box img {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .list_box img {
    width: 300px;
  }
}

.list_box .image {
  height: 300px;
  -o-object-position: top;
     object-position: top;
}

.list_box h5 {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 960px) {
  .list_box h5 {
    padding-left: 80px;
  }
}

@media screen and (max-width: 767px) {
  .list_box h5 {
    padding: 0 110px 0 0;
    font-size: 32px;
  }
}

#view {
  height: 100vh;
}

#view .carousel-item .card {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #view .carousel-item .card {
    width: 14rem !important;
  }
}

#view .carousel-item .card:hover {
  background: yellow;
}

#view .carousel-item .card a {
  text-decoration: none;
}

#view .carousel-item .card a h5 {
  text-align: center;
  color: black;
}

#works {
  height: 100vh;
  background: #222;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-gap: 100px;
}

#works .side {
  background: rgba(0, 0, 0, 0.5);
}

#works .side .sidebar {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#works .side .sidebar .sidemenu {
  width: 240px;
  height: 100px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  list-style: none;
}

#works .side .sidebar .sidemenu a {
  font-size: 18px;
  font-weight: 600;
  font-family: "微軟正黑體", "serif";
  color: #000;
  text-decoration: none;
}

#works .side .sidebar .sidemenu a:hover {
  text-decoration: none;
}

#works .side .sidebar .sidemenu a .mini_btn {
  border: 0.05px solid black;
  padding: 10px;
  background: white;
}

#works .side .sidebar .sidemenu a .mini_btn:hover {
  background: yellow;
}

#works .work__list {
  width: 1000px;
  height: 100%;
  background: #000;
  position: relative;
}

#works .work__list .reveal__wrap {
  width: 100%;
  padding-top: 50px;
}

#works .work__list .reveal__wrap .case {
  opacity: 1;
  width: 100%;
  height: 200px;
  border: 0.25px solid #000;
  background: yellow;
  margin-bottom: 10px;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}

#works .work__list .reveal__wrap .case:hover {
  -webkit-transform: translate3d(3, 3%, 3);
          transform: translate3d(3, 3%, 3);
}

#works .work__list .reveal__wrap .case .case__li {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */