$tablet: 1024px; //平板尺寸 (ipad pro)
$tablets: 960px; //平板尺寸 (ipad)
$mobile: 767px; //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

body,
section {
    height: 100%;
    position: relative;
    background: #222;
    overflow-x: hidden;
}

.carousel {
    top: 150px;

    @media screen and (max-width: $tablet) {
        top: 400px;
    }

    @media screen and (max-width: $tablets) {
        top: 200px;
    }

    @media screen and (max-width: $mobile) {
        top: 220px;
    }
}
// 插畫設計
.card_pt {
    margin: 20px 180px;
    width: 400px;
    float: left;

    @media screen and (max-width: $tablet) {
        margin: 50px;
    }

    @media screen and (max-width: $tablets) {
        margin: 30px;
    }

    img {
        width: 400px;

        @media screen and (max-width: $tablets) {
            width: 300px;
        }
    }

    h5 {
        text-align: center;
        margin-top: 80px;
        font-size: 40px;
        font-weight: 700;
        color: rgb(255, 255, 255);

        @media screen and (max-width: $tablets) {
            padding-right: 100px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 32px;
        }
    }
}

// 海報設計
.pt_list{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
  }
  
.list_box {
    margin: 20px 50px;
    width: 400px;
    float: left;

    @media screen and (max-width: $tablet) {
        margin: 56px;
    }

    @media screen and (max-width: $tablets) {
        margin: 135px;
    }

    @media screen and (max-width: $mobile) {
        margin: 36px;
    }

    img {
        width: 400px;
        height: 300px;
        object-fit: cover;

        @media screen and (max-width: $tablets) {
            width: 500px;
        }

        @media screen and (max-width: $mobile) {
            width: 300px;
        }
    }

    .image {
        height: 300px;
        object-position: top;
    }

    h5 {
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
        color: rgb(255, 255, 255);

        @media screen and (max-width: $tablets) {
            padding-left: 80px;
        }

        @media screen and (max-width: $mobile) {
            padding: 0 110px 0 0;
            font-size: 32px;
        }
    }
}

// 網頁作品
#view {
    height: 100vh;

    .carousel-item {
        .card {
            margin: 0 auto;

            @media screen and (max-width: $mobile) {
                width: 14rem !important;
            }

            &:hover {
                background: yellow;
            }

            a {
                text-decoration: none;

                h5 {
                    text-align: center;
                    color: black;
                }
            }
        }
    }
}
