* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

body, section {
    height: 100%;
    position: relative;
    background: #222;
}

.carousel {
    top: 150px;
}
// 插畫設計
.card_pt {
    margin: 20px 180px;
    width: 400px;
    float: left;

    img {
        width: 400px;
    }

    h5 {
        text-align: center;
        margin-top: 80px;
        font-size: 40px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
}

// 海報設計
.card_p {
    margin: 20px 50px;
    width: 400px;
    float: left;

    img {
        width: 400px;
        object-fit: cover;
    }

    .image {
        height: 500px;
        object-position: top;
    }

    h5 {
        text-align: center;
        margin-top: 40px;
        font-size: 40px;
        color: rgb(255, 255, 255);
    }
}

// 網頁作品
#view {
    height: 100vh;

    .carousel-item {

        .card {
            margin: 0 auto;

            &:hover {
                background: yellow;
            }

            a {
                text-decoration: none;

                h5 {
                    text-align: center;
                    color: black;
                    
                }        
            }

        }
    }
}